
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../assets/med.png.jpg');
  background-size: cover;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
}


.content {
  text-align: center;
  color: #fff;
  z-index: 1; }



