
.hospital-description-custom {
  color: #fff;
  text-align: center; 
  padding-top: 30px;
  font-size: 1.5rem;
  margin-top: 70px;
}


.hospital-info-custom {
  color: #fff;
  text-align: center; 
  margin-top: 10px; 
 
  font-size: 1rem;
  line-height: 1.5;
}


.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  max-width: 800px;
  margin: 0 auto; 
}

.service {
  flex-basis: calc(50% - 20px); 
  max-width: 800px; 
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  margin-inline: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
}


.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 

.service-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.service h3 {
  font-size: 1.5rem;
}

.service p {
  font-size: 1rem;
}







