.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.filter-container {
  margin-bottom: 20px; /* Add some space between the filter and the table */
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  max-width: 90%; /* Optionally adjust the table width */
}

/* Table headers */
table th {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

/* Table rows */
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Table cell padding and border */
table td {
  padding: 8px;
  border: 1px solid #ddd;
  color: #000;
}

/* Highlighted BMI status colors */
table td.overweight {
  background-color: #ffc107;
  color: #333;
}

table td.normal {
  background-color: #28a745;
  color: #fff;
}

table td.underweight {
  background-color: #dc3545;
  color: #fff;
}
